<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <a href="index.php"><img class="" src="{{ url_for('static', filename = 'img/logo.png') }}" height="75px"/></a>
        </div>

        <!-- <div><button type="button" class="btn adduser" data-toggle="modal" data-target="#addUser">Add User</button> </div>-->

        <div class="welcome-name">
            <h4><span>Hello,</span> {{ session['employeeid'] }}</h4>
        </div>


    </div>

</header>
